<form method="post" action="{{ path('app_continent_delete', {'IDContinent': continent.IDContinent}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ continent.IDContinent) }}">
    <button class="btn">Delete</button>
</form>
